{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <main class="container">
        <div class="FullWidthSplash m-5 d-flex flex-row justify-content-between">
            <div id="CQCroundup">
                <div class="span2 border p-3 bg-light">
                    <div class="HelpfulBox">
                        <div class="homepageCQC">
                            <div class="CQCcontent">
                                <img src="https://www.uhd.nhs.uk/uhd/templates/UHD-home/img/layout/cqc.png"
                                    alt="Care Quality Commission logo" class="CQCimg img-thumbnail">
                                <p>Bournemouth Hospital</p>
                                <p><strong>CQC overall rating</strong></p>
                                <p class="CQCrating btn btn-success">Good</p>
                                <p>18 June 2018 </p>
                                <a href="https://www.cqc.org.uk/location/RDZ20" class="CQCbutton" target="_blank">See
                                    the report</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Span END-->
                <div class="span2 border p-3 ml-2 bg-light">
                    <div class="HelpfulBox">
                        <div class="homepageCQC">
                            <div class="CQCcontent">
                                <img src="https://www.uhd.nhs.uk/uhd/templates/UHD-home/img/layout/cqc.png"
                                    alt="Care Quality Commission logo" class="CQCimg img-thumbnail">
                                <p>Poole Hospital</p>
                                <p><strong>CQC overall rating</strong></p>
                                <p class="CQCrating btn btn-success">Good</p>
                                <p>18 June 2018 </p>
                                <a href="https://www.cqc.org.uk/location/RD300" class="CQCbutton" target="_blank">See
                                    the report</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Span END-->
    
                <div class="span6">
                    <ul id="Dorsetroundup" class="thumbnails">
                        <li class="span4 ml-2">
                            <a href="https://ourdorset.nhs.uk" target="_blank" class="thumbnail">
                                <img src="https://www.uhd.nhs.uk/uhd/templates/UHD-home/img/layout/partners/our-dorset.png"
                                    alt="Our dorset, a partner of the hospital" class="CQCimg img-thumbnail">
                            </a>
                        </li>
    
                        <li class="span4 ml-2">
                            <a href="https://www.england.nhs.uk/personalisedcare/upc/ipc-for-veterans/veteran-aware-nhs-trusts/"
                                target="_blank" class="thumbnail">
                                <img src="https://www.uhd.nhs.uk/uhd/templates/UHD-home/img/layout/partners/veteran_aware.png"
                                    alt="Veteran aware, a partner of the hospital" class="CQCimg img-thumbnail">
                            </a>
                        </li>
    
                        <li class="span4 ml-2">
                            <a href="https://www.bournemouth.ac.uk/" target="_blank" class="thumbnail">
                                <img src="https://www.uhd.nhs.uk/uhd/templates/UHD-home/img/layout/partners/bournemouth-uni.png"
                                    alt="Bournemouth uni, a partner of the hospital" class="CQCimg img-thumbnail">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
            <!--container-->
        <!---->
        <!--Our Partners  /END================================================== -->




    </main>
{% endblock %}
