{% extends 'base.html' %}

{% block title %}{{ patient }}{% endblock %}

{% block content %}
<div class="container  d-flex justify-content-center">
    <div class="card font-weight-normal">
        <div class="card-header nhs-blue-text">
        {{ patient }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item pl-3">
              <strong>Personal Information:</strong><br>
              Hospital Number: {{ patient.hospital_number }}<br>
              Date of Birth: {{ patient.date_of_birth }}<br>
              Postcode: {{ patient.postcode }}<br>
              Locality: {{ patient.locality }}
          </li>
          <li class="list-group-item pl-3"><strong>Direct Average Time: {% if direct_average is None %} No Data Collected {% else %} {{ direct_average }} mins. {% endif %}</strong></li>
          <li class="list-group-item pl-3"><strong>Indirect Average Time: {% if indirect_average is None %} No Data Collected {% else %} {{ indirect_average }} mins. {% endif %}</strong></li>
          <a class="list-group-item pl-3 btn btn-outline-primary text-left" href="{% url 'services:view_services' id=patient.id %}">View Patient Services</a>
          {% if request.user.is_staff %}
          <a class="list-group-item pl-3 btn btn-outline-primary text-left" href="{% url 'services:add_service' id=patient.id %}">Add A Patient Service</a>
          <a class="list-group-item pl-3 btn btn-outline-warning text-left" href="{% url 'OPAL:patient_edit' id=patient.id %}">Edit Patient</a>
          <form action= "{% url 'OPAL:patient_delete' id=patient.id %}" method="delete">
            {% csrf_token %}
            <button style="width:100%;" type="submit" class="list-group-item pl-3 btn btn-outline-danger text-left">Delete Patient</button>
          </form>
          {% endif %}
        </ul>
    </div>
</div>
{% endblock %}