{% extends 'base.html' %}

{% block title %}D2A{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div>
        <div class="card-header nhs-blue-text">
            <h3>D2A's for {{ patient }}</h3>
        </div>
        {% if not D2As %}
            <a class="list-group-item pl-3 btn btn-outline-primary text-left" href="{{ patient.get_absolute_url }}">Return to Patient</a>
        {% endif %}
        {% for D2A in D2As %}
        <div class="card font-weight-normal mt-3">
            <div class="card-header nhs-blue-text">
                D2A ID {{ D2A.id }}
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item pl-3">
                Therapist Completing D2A: {{ D2A.therapist_completing_d2a }}<br>
                D2A Completion Date: {{ D2A.D2A_completion_date }}<br>
            </li>
            <a class="list-group-item pl-3 btn btn-outline-primary text-left" href="{{ patient.get_absolute_url }}">Return to Patient</a>
            {% if request.user.is_staff %}
            <form action= "{% url 'services:D2A_delete' id=D2A.id %}" method="DELETE">
                {% csrf_token %}
                <button style="width:100%;" type="submit" class="list-group-item pl-3 btn btn-outline-danger text-left">Delete D2A</button>
            </form>
            {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}